* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333c55;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
/* header top */
.header-top {
    display: flex;
    justify-content: space-between;
    height: auto;
    font-size: 0.8em;
    }
    .header-logo {
        padding: 15px 0;
        display: inline-block;
        vertical-align: middle;
    }
        .logo-description {
            display: inline-block;
            padding: 15px 0;
            vertical-align: middle;
            margin: 0;
        }
            .header-logo img {
                margin-right: 15px;
                display: inline-block;
                vertical-align: middle;
            }
/* header top */
/*navbar*/
.navbar {
    height: auto;
    vertical-align: middle;
    }
    .navbar a {
        display: inline-block;
        text-decoration: none;
        padding: 20px 15px;
        vertical-align: middle;
        transition: 0.5s ease-in-out;
        color: #333c55;
    }
        .navbar a:hover {
            color: #00c98a;
        }
/*navbar*/
/*header bottom*/
.header-bottom {
    background: #f2f0f2;
    padding: 15px 0;
    width: 100%;
    }
    .flex-space-between {
            display: flex;
            justify-content: space-between;
        }
        .header-bottom select {
            background: #f2f0f2;
        }
/* header bottom */
/*header*/
/*main*/
/*cover*/
.cover {
    display: flex;
    align-items: center;
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    }
    .cover-wrapper {
            max-width: 350px;
            padding: 50px 25px;
            padding-right: 0;
        }
        .cover h1 {
                margin: 0;
            }
            .cover h3 {
                font-weight: 400;
                padding: 30px 0;
                margin: 0;
                font-size: 1.2em;
            }
            .cover-button {
                display: inline-block;
                text-decoration: none;
                background-color: #e04840;
                border: 1px solid #e04840;
                padding: 20px;
                transition: 0.5s;
                font-size: 1em;
            }
                .cover-button:hover {
                    color: #e04840;
                    background-color: #fff;
                    transition: 0.5s;
                }

/*cover*/
/*cta*/
.cta{
    background: rgb(255, 255, 255);
    }
        .cta-wrapper {
        display: flex;
        justify-content: space-between;
        }
            .cta-btn {
                margin-top: 30px;
                margin-left: 15px;
                margin-right: 15px;
                width: 20%;
                display: flex;
                justify-content: center;
                 }

                 .cta-btn a {
                     text-decoration: none;
                     color: #fff;
                     width: 100%;
                     transition: 0.5s;
                 }
                    .cta-btn a:hover {
                        opacity: 0.8;
                        transition: 0.5s
                    }
                 .cta-btn p {
                     color: #333c55;
                     text-align: center;
                     font-weight: 300;
                     font-size: 0.9em;
                     line-height: 1.5em;
                 }
                .cta-icon {
                    border-radius: 48px;
                    width: 96px;
                    height: 96px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 50px;
                    margin: 0 auto;
                }
/*cta*/
/*campaigns*/
.campaigns {

    }
    .projects{

    }
        .investmentprojects {
            width: 66%;
        }
            .in-progress {
                width: 49%;
                margin-bottom: 20px;
                display: inline-block;
            }
                .article-wrapper {
                    border: 1px solid #f2f0f2;
                    background:#f9f9f9;
                    margin: 0 20px;
                }
                    .article-image {
                        position: relative;
                        font-size: 0;
                    }
                        .article-image img {
                            max-width: 100%;
                        }
                            .eyecatcher {
                                position: absolute;
                                top: -5%;
                                right: 20%;
                                padding: 5px 10px;
                                color: #fff;
                                font-size: 14px;
                        }
                        .article-status {
                            position: relative;
                        }
                            .article-status p {
                                min-width: 100%;
                                margin: 0;
                                padding: 15px;
                                color: white;
                            }
                            .status-img-wrapper {
                                    position: absolute;
                                    top: 50%;
                                    right: 20px;
                                    transform: translate(0,-50%);
                                    background-color: #fff;
                                    border: 1px solid #e0e0e0;
                                    border-radius: 5px;
                                    padding: 5px;
                                }

                        .article-data {
                            padding: 0 15px;
                        }
                        .article-footer {
                            padding: 0 15px;
                            padding-bottom: 15px;
                        }
                            .footer-circle {
                                display: inline-block;
                                border-radius: 50%;
                                vertical-align: top;
                                border: 10px solid #00c98a;
                                position: relative;
                                width: 49%;
                                height: 150px;
                                padding-bottom: 20%;
                            }
                                .footer-circle p {
                                    margin: 0;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%,-50%);
                                }
                            .footer-data {
                                display: inline-block;
                                width: 49%;
                                height: 170px;
                                padding: 30px 10px;
                            }
            .ended {
                max-width: 49%;
                margin-bottom: 20px;
                display: inline-block;
            }
            .article-footer-ended {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                background-color: #f2f0f2;
            }
/*campaigns*/
/*investors-say"*/
.investors-say {

    }
    .investors-say h2 {

    }
    .investors {
        align-items: center;
    }
        .investor {
            display: inline-block;
            min-width: 49%;
            padding-bottom: 33px;
            vertical-align: top;
        }
            #lost{
                position: relative;
                top: 50px;
            }
            .avatar {
                height: 80px;
                display: inline-block;
                vertical-align: top;
            }
                .avatar img {
                    border-radius: 500px;
                }
            .statement {
                display: inline-block;
                max-width: 400px;
            }   
                .statement p{
                    padding-left: 10px;
                    margin: 0;
                    font-weight: 300;
                }
            .name {
                margin-left: 90px;
                font-weight: 700;
            }
/*investors-say"*/
/*main*/
.bold {
    font-weight: 700;
}
small {
    display: block;
}
.vertical-middle {
    vertical-align: middle;
}

.text-green {
    color: #00c98a;
}

.bg-green {
    background-color: #00c98a;
}

.text-blue {
    color: #333c55;
}

.bg-blue {
    background-color: #333c55;
}

.white {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}